<div class="box grayed-out" [class.grayed-out]="grayOut">
    <label for="brand">Brand:</label>
    <input class="input-field" type="text" id="brand" name="brand" [(ngModel)]="car.brand">
    <label for="model">Model:</label>
    <input class="input-field" type="text" id="model" name="model" [(ngModel)]="car.model">
    <label for="year">Year:</label>
    <input class="input-field" type="number" id="year" name="year" [(ngModel)]="car.year">
    <label for="colors">Colors:</label>
    <input class="input-field" type="text" id="colors" name="colors" [(ngModel)]="car.colors">
    <div>
        <button class="button-save" (click)="create()">Create!</button>

    </div>
</div>