<div class="data-box">
    <div class="data-container">
        <ul>
            <li *ngFor="let car of cardataSubject | async">
                <a [routerLink]="['/cars', car.id]">
                    <span>Brand: {{car.brand}} | Model: {{car.model}} | Year: {{car.year}} | Colors: <div *ngFor="let color of car.colors">{{color}}, </div></span>
                </a>
            </li>
        </ul>
    </div>

    <div class="input-container">
        <label for="start-input">Start Index:</label>
        <input type="number" id="start-input" name="start" [(ngModel)]="startIndex">

        <label for="count-input">Count:</label>
        <input type="number" id="count-input" name="count" [(ngModel)]="count">

        <button (click)="applyFilter()">Apply</button>
    </div>
</div>